<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <style>
      body {
        background-color: cornsilk;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .container {
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Weather App</h1>
      <form action="/" method="post">
        <label for="city">Enter city name:</label>
        <input type="text" id="city" name="city" />
        <button type="submit">Get Weather</button>
      </form>

      {% if show_weather %}
      <h2>Weather Report for {{ weather_data['name'] }}</h2>
      <p>Temperature: {{ weather_data['main']['temp'] }}°C</p>
      <p>Weather: {{ weather_data['weather'][0]['description'] }}</p>
      {% endif %}
    </div>
  </body>
</html>
